<h1>Feedback</h1>
<form>
  <div class="card-content">
    <div class="row">
      <div class="input-field col s12">
        <p>
          <label for='csFormName'>Nume și prenume</label>
          <input type='text' id='csFormName'>
        </p>
      </div>

      <div class="input-field col s12">
        <p>
          <label for='csFormMail'>Mail</label>
          <input type='email' id='csFormMail'>
        </p>
      </div>

      <div class="col s12">
        <p>
          <label for='csFormDesc'>Descrierea problemei</label>
          <textarea id='csFormDesc'></textarea>
        </p>
      </div>

      <div class="col s12">
        <p>
          <input type="submit" class="btn  waves-effect waves-light" value="Trimite">
        </p>
      </div>
    </div>
  </div>
</form>