:host {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;

	padding: 0 5rem;
}

#contact {
	color: rgb(219, 219, 219);
}

#support {
	background-color: #FFF;
	color: #2D2D2D;
	border-radius: 1rem;
	padding: 1rem;
}