<div class="row serviceItem hoverable" [routerLink]="'/service/' + service.uid">
  <div class="col s3 servicePhoto">
    <img [src]="service.imagePath[0]" width="100%" height="100%"/>
  </div>
  <div class="col s6 serviceData1">
    <p class="serviceTitle truncate">{{service.isOffer == 'offer'?'Oferta: ':'Cerere: '}}{{ service.title }}</p>
    <p class="serviceDesc truncate">{{ service.desc }}</p>
    <p class="serviceRating"><span class="amber-text text-darken-1">★</span>{{ service.rating }}</p>
  </div>
  <div class="col s3 serviceData2">
    <p class="servicePrice">{{ service.price }} EUR</p>
    <div *ngIf="service.barter" style="flex: 1;"></div>
    <div *ngIf="!service.barter" style="flex: 2;"></div>
    <p *ngIf="service.barter" class="serviceBarter green white-text"> ✓ Barter</p>
  </div>
</div>
