<div style="width: 100% !important;">
  <form *ngIf="!isLoggedIn()" [formGroup] = 'form'>
    <input type="password" formControlName="pass" placeholder="Introdu parola" class="right">
    <button class="waves-effect waves-light btn-large black" type="submit">Submit</button>
  </form>
  <table *ngIf="isLoggedIn()" class="centered">
    <thead>
    <tr>
      <th>Titlu</th>
      <th>Nemultumire</th>
      <th>Sugestii</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let feedback of feedbacks">
      <td>{{feedback.title}}</td>
      <td>{{feedback.nemultumiri}}</td>
      <td>{{feedback.sugestii}}</td>
    </tr>
    </tbody>
  </table>
</div>
