$roboto-font-path: "~materialize-css/dist/fonts/roboto/";
@import "~materialize-css/sass/materialize";

.footer {
  width: 100%;
  background-color: black;
}

main {
  min-height: calc(100vh - #{$navbar-height});
}
