<div *ngIf="services.length == 0">
  <div [ngSwitch]="status">
    <p *ngSwitchCase="'offer_services'">Nu ai servicii adaugate</p>
    <p *ngSwitchCase="'request_services'">Nu ai cereri adaugate</p>
  </div>
</div>

<app-show-service *ngFor="let service of services"
                  [service]="service"
                  [status]="status"
></app-show-service>
<!-- Modal Trigger -->
<!--<a (click)="openModal()">Open</a>

<div id="modaltest" class="modal" materialize="modal"
     [materializeParams]="[{dismissible: true}]" [materializeSelectOptions]="[{startingTop:'0%'}]" [materializeActions]="modalActions">
Merge
</div>-->
