<div class="review">
	<p class="reviewTitle">{{ review.fromUser }}</p>
	<div class="rating medium star-icon value-{{ review.rating-1  | number: 0 }} half label-left">
			<div class="label-value">{{ review.rating }}</div>
			<div class="star-container">
				<div class="star">
					<i class="star-empty"></i>
					<i class="star-half"></i>
					<i class="star-filled"></i>
				</div>
				<div class="star">
					<i class="star-empty"></i>
					<i class="star-half"></i>
					<i class="star-filled"></i>
				</div>
				<div class="star">
					<i class="star-empty"></i>
					<i class="star-half"></i>
					<i class="star-filled"></i>
				</div>
				<div class="star">
					<i class="star-empty"></i>
					<i class="star-half"></i>
					<i class="star-filled"></i>
				</div>
				<div class="star">
					<i class="star-empty"></i>
					<i class="star-half"></i>
					<i class="star-filled"></i>
				</div>
			</div>
		</div>
	<div class="reviewContent">
		{{ review.content}}
	</div>
	<div class="reviewPhotos">
		<div *ngFor="let photo of review.imagePath">
			<img
					class="materialboxed"
					height="100px"
					width="auto"
					src='{{ photo }}'>
		</div>
	</div>
</div>