<div class="row">
    <div id="newServ" class="col s2">
      <button routerLink='/add_service' class="waves-effect waves-light btn-large black">
        <i class="material-icons">add</i>
      </button>
    </div>
    <form id="homeSearch" class="col s10" action="">
      <div class="input-field">
        <input type="text" id="autocomplete-input" class="autocomplete" materialize="autocomplete" [materializeParams]="dataToAdd">
        <label for="autocomplete-input">Caută servicii</label>
      </div>
    </form>
  </div>
  <div class="row">
    <ul class="collapsible" materialize="collapsible">
      <li>
        <div class="collapsible-header center-align"><b>Categorii</b></div>
        <div class="collapsible-body">
          <div id="homeCategories" >
            <div class="category" *ngFor="let category of categories">
              <a routerLink="">{{category}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
