.category {
	text-align: center;
	//font-size: 1.5rem;
}
.collapsible-body {
	background-color: rgb(255, 229, 183);

	#homeCategories {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
#newServ {
}
form {
	width: 100%;
	.acItem {
		display: flex;
    justify-content: flex-start;
    align-content: center;
		align-items: center;

		img {
			width: 2rem;
			height: 2rem;
			object-fit: cover;
		}
		div {
			font-size: 1.4rem;
			margin-left: .5rem;
		}
		.rating {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-content: center;
			align-items: center;
		}
	}
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
	border-bottom: 1px solid #feb872;
	box-shadow: 0 1px 0 0 #feb872;
}
.category a {
	color: #000;
}
.category a:hover {
	color: inherit;
	text-decoration: underline;
}