<div class="row valign-wrapper">
    <div id="newServ" class="col s2">
      <button routerLink='/add_service' class="waves-effect waves-light btn-large black">
        <i class="material-icons">add</i>
      </button>
		</div>
		<div class="valign-wrapper col s10">
			<form id="homeSearch" class="ui-fluid" action="">
				<p-autoComplete
					placeholder="Cauta servicii"
					[(ngModel)]="serviceSearchedTitle"
					[suggestions]="suggestions"
					(completeMethod)="filterServices($event)"
					[minLength]="1"
					[ngModelOptions]="{standalone: true}"
					[disabled] = "!ok">
					<ng-template let-serv pTemplate="item">
						<div class="ui-helper-clearfix acItem" [routerLink]="'/services/'+serv.uid" (click)="setTitle(serv.title)">
							<img [src]="serv.imagePath[0]"/>
							<div>{{ serv.title }}</div>
							<div class="rating medium star-icon value-{{ serv.rating-1  | number: 0 }} half label-left">
								<!--<div class="label-value">{{ serv.rating }}</div>-->
								<div class="star-container">
									<div class="star">
										<i class="star-empty"></i>
										<i class="star-half"></i>
										<i class="star-filled"></i>
									</div>
									<div class="star">
										<i class="star-empty"></i>
										<i class="star-half"></i>
										<i class="star-filled"></i>
									</div>
									<div class="star">
										<i class="star-empty"></i>
										<i class="star-half"></i>
										<i class="star-filled"></i>
									</div>
									<div class="star">
										<i class="star-empty"></i>
										<i class="star-half"></i>
										<i class="star-filled"></i>
									</div>
									<div class="star">
										<i class="star-empty"></i>
										<i class="star-half"></i>
										<i class="star-filled"></i>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-autoComplete>
			</form>
		</div>
  </div>
  <div class="row">
    <ul class="collapsible" materialize="collapsible">
      <li>
        <div class="collapsible-header center-align"><b>Categorii</b></div>
        <div class="collapsible-body">
          <div id="homeCategories" >
            <div class="category" *ngFor="let category of categories">
              <a [routerLink]="'/services/' + category">{{category}}</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
