<div class="row">
    <div id="newServ" class="col s2">
      <button routerLink='/add_service' class="waves-effect waves-light btn-large black">
        <i class="material-icons">add</i>
      </button>
    </div>
    <form id="homeSearch" class="col s10" action="">
      <input type="text" placeholder="Caută servicii">
    </form>
  </div>
  <div class="row">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header center-align"><b>Categorii</b></div>
        <div class="collapsible-body">
          <div id="homeCategories" >
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
            <div class="category"><a href="#">Categorie</a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
