<div class="row" id="servicesFilter">
  <form [formGroup]="form" (submit)="onSubmit()">
		<div class="input-field col s12">
			<input type="text" placeholder="Caută" formControlName="title">
		</div>

		<div class="col s12" formGroupName="service_type">
			<fieldset>
				<legend>Tip serviciu</legend>
				<p>
					<input name="service_type" type="checkbox" id="offer" [checked]="'offer'" formControlName="offer"/>
					<label for="offer">Ofertă</label>
				</p>
				<p>
					<input name="service_type" type="checkbox" id="request" [checked]="'request'" formControlName="request"/>
					<label for="request">Cerere</label>
				</p>
			</fieldset>
		</div>

		<div class="col s12">
			<fieldset>
				<legend>Categorie</legend>
				<p>
					<input name="all" type="checkbox" id="all" [value]="false" formControlName="all" checked="checked"/>
					<label for="all">Toate</label>
				</p>
        <div>
          <p-autoComplete formControlName="category"
                          [suggestions]="categoriesToShow"
                          (completeMethod)="search($event)"
                          [disabled]="this.form.get('all').value"
          ></p-autoComplete>
        </div>
			</fieldset>
		</div>

		<div class="col s12">
			<fieldset formGroupName="price">
				<legend>Preț</legend>
				<div>
					<input type="number" placeholder="Minim" formControlName="min">
				</div>
				<div>
					<input type="number" placeholder="Maxim" formControlName="max">
				</div>
			</fieldset>
		</div>

    <div class="col s12">
      <fieldset>
        <p>
          <input type="checkbox" id="barter" checked="checked" formControlName="barter"/>
          <label for="barter">Barter</label>
        </p>
      </fieldset>
    </div>

		<div class="col s12">
			<button class="waves-effect waves-light btn-large" type="submit">Filtrează servicii</button>
		</div>
  </form>
</div>
<!-- TODO: Make form usable-->
