<div class="row serviceItem">
  <div class="col s4 servicePhoto">
    <img [src]="service.imagePath[0]" width="auto" height="100%"/>
  </div>
  <div class="col s4 serviceData1">
    <p class="serviceTitle truncate">{{ service.title }}</p>
    <p class="serviceDesc truncate">{{ service.desc }}</p>
    <p class="serviceRating"><span class="amber-text text-darken-1">★</span>{{ service.rating }}</p>
  </div>
  <div class="col s4 serviceData2">
    <p class="servicePrice">{{ service.price }}</p>
    <p *ngIf="service.barter" class="serviceBarter green-text"> ✓ Barter</p>
  </div>
</div>
