:host {
	margin-top: -2.5rem;
}

.row:first-child .col.s12 {
	background:
		linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75)),
		url('../../assets/images/hs.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 50vh;
	width: 100vw;
	padding: 5rem;
}

#browseButtons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;

	.browseButton {
		//flex: 50%;
		background-image: url(/assets/images/CIAB-NoText.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width:  14rem;
		height: 14rem;
		margin: 1rem;

		&:nth-child(1) {
			color: #FFFFFF;
			background: linear-gradient(135deg,#FFE2C6 , #CC8C4D);
		}
		&:nth-child(2) {
			color: #FFFFFF;
			background: linear-gradient(135deg,#63C5E3 , #2C92B1);
		}

		a {
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;

			width: 100%;
			height: 100%;

			font-weight: bold;
			font-size: 1.25rem;
			color: inherit;
		}
	}
}