#photoShow {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: .5rem;
	border: 1px solid #DFDFDF;

	overflow: hidden;
}
#photosMin {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	width: 100%;
	margin: 1rem 0rem;
	overflow: auto hidden;

	> div {
		border-radius: .5rem;
		border: 1px solid #DFDFDF;
		margin-right: 1rem;
	}
}

#serviceInfo {
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	#serviceData1 {
		#serviceBarter {
			font-weight: bold;
		}
	}
	#serviceData2 {
		.rating {
			justify-content: flex-start;
		}
		.payment {
			display: flex;
			justify-content: space-around;
			align-content: center;
			align-items: center;

			#servicePrice {
				font-weight: bold;
			}
		}
	}
}
#serviceReviews {
}