<div class="row">
  <div class="col s6" id="servicePhotos">
    <div id="photoShow">
      <img height="300px"
           width="auto"
           [src]="service.imagePath[0]">
    </div>
    <div id="photosMin">
      <div *ngFor="let photo of service.imagePath">
        <img materialize="materialbox"
             class="materialboxed"
             height="100px"
             width="auto"
             [src]="photo">
      </div>
    </div>
  </div>
  <div class="col s6" id="serviceInfo">
    <div id="serviceData1" class="">
      <h4 id="serviceTitle"><b>Service: </b>{{ service.title }}</h4>
      <a id="serviceAuthor" routerLink = "/profile/{{ service.fromUser }}"><b>User: </b>{{ author.username }}</a>
      <p id="serviceBarter" class="green-text" *ngIf="service.barter">✓ Barter</p>
    </div>
    <div id="serviceData2" class="">

      <div class="rating half label-left"><b>Rating: </b>{{service.rating}}
        <star-rating
        [starType]="'svg'"
        [rating]="service.rating"
        [readOnly]="true"></star-rating>
        <!--[hoverEnabled]="true"-->
      </div>
      <div class="payment">
        <p id="servicePrice"><b>Price: </b>{{ service.price }} EUR</p>
        <div id="paypal-button" *ngIf="isAuth()"></div>
        <div class="tooltipped" materialize="tooltip"  data-position="bottom" data-tooltip="You have to login to purchase this service">
          <a *ngIf="!isAuth()" class = "btn-large disabled" >
           Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="serviceContent">
		<h3>Descriere</h3>
		<p id="serviceDescription">{{ service.desc }}</p>
	</div>
</div>
<!--TODO: Make possibe to see others profile-->
