<div class="row">
  <div class="col s6" id="servicePhotos">
    <div id="photoShow">
      <img height="300px"
           width="auto"
           [src]="service.imagePath[0]">
    </div>
    <div id="photosMin">
      <div *ngFor="let photo of service.imagePath">
        <img materialize="materialbox"
             class="materialboxed"
             height="100px"
             width="auto"
             [src]="photo">
      </div>
    </div>
  </div>
  <div class="col s6" id="serviceInfo">
    <div id="serviceData1" class="">
      <h4 id="serviceTitle">{{ service.title }}</h4>
      <p id="serviceBarter" class="green-text" *ngIf="service.barter">✓ Barter</p>
      <p id="serviceDescription">{{ service.desc }}</p>
    </div>
    <div id="serviceData2" class="">
      <!--
				<p id="serviceRating"><span class="amber-text text-darken-1">★</span>{{ service.rating }}</p>
			-->
			<div class="rating medium star-icon value-{{ service.rating-1  | number: 0 }} half label-left">
				<div class="label-value">{{ service.rating }}</div>
				<div class="star-container">
					<div class="star">
						<i class="star-empty"></i>
						<i class="star-half"></i>
						<i class="star-filled"></i>
					</div>
					<div class="star">
						<i class="star-empty"></i>
						<i class="star-half"></i>
						<i class="star-filled"></i>
					</div>
					<div class="star">
						<i class="star-empty"></i>
						<i class="star-half"></i>
						<i class="star-filled"></i>
					</div>
					<div class="star">
						<i class="star-empty"></i>
						<i class="star-half"></i>
						<i class="star-filled"></i>
					</div>
					<div class="star">
						<i class="star-empty"></i>
						<i class="star-half"></i>
						<i class="star-filled"></i>
					</div>
				</div>
			</div>
      <p id="servicePrice">{{ service.price }}</p>
      <div id="serviceBuyButton">
        <form action="">
          <button class="waves-effect waves-light btn-large" type="submit">Cumpără</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="serviceContent">
		<h2>Descriere</h2>
		<p id="serviceDescription">{{ service.description }}</p>
	</div>
</div>
