h2 {
	font-weight: bold;
}
#partners {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;

	padding: 0rem;
}
.partner {
	width: 	10rem;
	height: 10rem;

	margin: auto auto;
}

.aux{
  display: flex;
  justify-content: center;
}
